<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/keywordResult.css">
    <title>Result</title>
    <!-- Font awesome cdn  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="keyword-container">
        <%- include('../views/partials/user/navbar.ejs') %>
            <section class="keyword-main">

                <h2>Here are your results</h2>
                <!-- <div class="keyword-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio beatae rem reiciendis corporis
                    tempora? Delectus provident, nemo temporibus harum aliquam libero ut debitis maxime ea laboriosam!
                </div> -->
                <div class="search-keywords-box">
                    You searched for the keywords :
                    <% for ( let i=0 ; i < skeys.length ; i++ ) { %>
                        <div class="search-keywords">

                            <%= skeys[i] %>

                        </div>
                        <% } %>
                </div>
                <div class="result-container">
                    <% if(docs.length> 0) { %>
                        <% let i=1; %>
                            <% for ( let item of docs ) { %>


                                <div class="result-wrapper">
                                    <div class="result-text">
                                        <h3> Case - <%= i++ %>
                                        </h3>
                                        <div class="readmore">
                                            <%= item.cleanText.slice(0,300) %>
                                                <span class="ellipsis">...</span>
                                                <span class="moreText">
                                                    <%= item.cleanText.slice(301) %>
                                                </span>
                                                <a class="more" href="#">Read more</a>
                                        </div>
                                        <h4>Related Keywords :</h4>
                                        <div class="tag-container">
                                            <% for ( let keyword=0 ; keyword < item.keywords.length ; keyword++ ) { %>

                                                <div class="tag-wrapper">
                                                    <%= item.keywords[keyword] %>
                                                </div>

                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="result-download">
                                        <a target="_blank" href=<%=item.documents[0].url %> >Show PDF</a>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>

                </div>


            </section>
            <%- include('../views/partials/user/footer.ejs') %>

    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function () {
        $('.readmore a.more').on('click', function () {
            var $parent = $(this).parent();
            if ($parent.data('visible')) {
                $parent.data('visible', false).find('.ellipsis').show()
                    .end().find('.moreText').hide()
                    .end().find('a.more').text('Read more');
            } else {
                $parent.data('visible', true).find('.ellipsis').hide()
                    .end().find('.moreText').show()
                    .end().find('a.more').text('Read less');
            }
        });
    });
</script>

</html>